<h1>Dashboard</h1>
<p>You are currently logged in as {{ name }}</p>
<div>
<style>
.l{
	/*float:left;*/
	vertical-align: middle;
	display: table-cell;
	padding-right: -10px;
}
.r{
	/*float:left;*/ 
	vertical-align: middle;
	display: table-cell;
}
</style>
<form action="/analyse" method="post">
{% for movie in movieList %}
   	<div class="l">
    	<img src="/static/images/{{ movie.movie_id }}.jpg" width="60px" height="120px" />
    	<br/>
   	</div>
   	<div class="r">
    	{{ movie.name }}<br/>
    	{{ movie.year}}<br/>
    	{{ movie.director }}<br/>
    	Enter Rating:<input type="text" name="{{ movie.movie_id }}" placeholder="rating" /><br/>
	</div>
	<br/>
{% endfor %}
<input type="submit" name="submit" value="submit">
</form>
</div>
<a href='logout'>Logout</a>
